.sprites2{ background:url("sprites2.png") top left no-repeat; }
.i-1_r18_c2{ width:24px; height:30px; background-position:-10px -10px; }
.i-1_r16_c2{ width:24px; height:30px; background-position:-10px -50px; }
.i-1_r14_c2{ width:24px; height:30px; background-position:-10px -90px; }
.i-1_r12_c2{ width:24px; height:30px; background-position:-10px -130px; }
.i-1_r10_c2{ width:24px; height:30px; background-position:-10px -170px; }
.i-1_r8_c2{ width:24px; height:30px; background-position:-10px -210px; }
.i-1_r6_c2{ width:24px; height:30px; background-position:-10px -250px; }
.i-1_r4_c2{ width:24px; height:30px; background-position:-10px -290px; }
.i-1_r2_c2{ width:24px; height:30px; background-position:-10px -330px; }

